
%section#works.home-section.text-center.bg-gray
  .heading-works.marginbot-50
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .section-heading
            %h2 Business
            %p Lorem ipsum dolor sit amet, no nisl mentitum recusabo per, vim at blandit qualisque dissentiunt. Diam efficiantur conclusionemque ut has
  .container
    .row
      .col-sm-12.col-md-12.col-lg-12
        .row.gallery-item
          -@business.all.each do |u|
            .col-md-3
              .thumbnail{style: 'height: 250px;'}
                .caption
                  %h1
                    %span.glyphicon.glyphicon-briefcase
                  %p
                    = link_to u.name, business_path(u)
                    %br
                    = "#{u.city}, #{u.state}"
                  %p 
                    %span.glyphicon.glyphicon-star{style: 'padding: 10px'}
                      =u.stars 
                    %span.glyphicon.glyphicon-comment{style: 'padding: 10px'}
                      =u.review_count 
              
  = will_paginate @users